body {
		margin-left: 50px;
		margin-right: 50px;
		font-family: 'Pacifico', cursive, sans-serif;
		color: #65000b;
		background: #d2b48c;
		font-size: 25px;
}
h1 {
		text-align: center;
		color: #65000b;
		font-style: italic;
		padding: .5px;
}
h2, h3, p  {
		text-align: center;
		margin: 0px;
		padding: .1em;
}
#bread {
		float: left;
		height: 200px; width: auto;
		border: 2px solid black;
		border-radius:5px;
		padding:10px;
		margin-right: 200px;
		margin-bottom: 50px;
}
h4 {
		text-align: center;
}
ul {
		float: center;
		margin-left: 500px;
		margin-bottom: 50px;
}
.tagline {
		text-align: center;
		font-style: italic;
		border-bottom: 10px double #65000b;
		font-size: 25px;
}
footer div{
		text-align: center;
		font-size: 20px;
}
a {
		color: #65000b;
}
a:hover {
		color: #FFEFD5;
}
header a{
		text-decoration: none;
}
footer a{
		color: #65000b;
		text-decoration: none;
}
footer, footer	p{
		font-style: italic;
		text-align: center;
}
nav {
		text-align: center;
		font-size: 25px;
}
main nav {
		text-align: center;
		font-size: 20px;
}
main p {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
}
.blocking {
		border-bottom: 10px double #65000b;
}
.buttons {
		 border: double #65000b;
		 color: #65000b;
		 padding: 5px 24px;
		 text-align: center;
		 text-decoration: none;
		 display: inline-block;
		 font-size: 15px;
		 margin: 4px 4px;
		 cursor: pointer;
		 font-style: normal;
		 font-family: 'Pacifico', cursive, sans-serif;
		 width: 35px;
}
header, nav, main, footer {display: block;}
