body {
		margin-left: 50px;
		margin-right: 50px;
		font-family: Georgia, san-serif;
		color: #086A87 ;
		background: radial-gradient(circle, #c0d8e6, #F69999);
		font-size: 20px;
}
.introList {
		font-family: 'Yeseva One', cursive;
		font-size: 22px;
}

h1 {
		text-align: center;
		color: #086A87;
		font-style: italic;
		border-bottom: 10px double #086A87;
}
header nav {
		text-align:center;
}
h2, h3, p  {
		text-align: center;
		margin: 0px;
		padding: .1em
}

.tagline {
		text-align: center;
		font-style: italic;
		border-bottom: 10px double #086A87;
		padding-bottom: 5px;
		font-size: 20px;
}
footer div{
		padding-top: 5px;
		text-align: center;
		font-size: 20px;
}
a {
		color: #086A87;
}
a:hover {
		color: #FFEFD5;
}
header a{
		text-decoration: none;
}
footer a{
		color: #086A87;
		text-decoration: none;
}
footer, footer	p{
		font-style: italic;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
}
main nav {
		text-align: center;
		font-size: 15px;
}
main p {
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: left;
}
figure {
		text-align: center;
		display: block;
}
figcaption {
		text-align: center;
		font-size: 15px;
		font-style: italic;
}
ul {
		list-style-type: none;
		display: inline-block;
}
.buttons {
		 border: double #086A87;
		 color: #086A87;
		 padding: 5px 24px;
		 text-align: center;
		 text-decoration: none;
		 display: inline-block;
		 font-size: 15px;
		 margin: 4px 4px;
		 cursor: pointer;
		 font-style: normal;
		 font-family: Georgia;
		 width: 35px;
}
input {
	margin-left: 25px;
}
label {
	margin-left: left;
	font-family: 'Yeseva One', cursive;
	font-size: 22px;
	color: #086A87 ;
	
}
form {
	margin: 0;
}
textarea {
	font-family: Georgia, san-serif;
	color: #086A87 ;
	margin: auto;
	text-align: left;
	white-space: pre-wrap;
	display: inline-block;
	justify-content: left;
	font-size: 15px;
}
input[type="radio"] {
	margin-right: 15px;
	
  }
input[type="checkbox"] {
	margin-right: 15px;
	
}
fieldset {
	margin-left: 375px;
	width: 250px;
	border: 2px solid #086A87;
	
}
header, nav, main, footer {display: block;}
