body {
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 5px;
		font-family: 'El Messiri', sans-serif;
		color: #65000b;
		background: #d2b48c;
		font-size: 25px;
}
header h1 {
		text-align: center;
		color: #65000b;
		font-style: italic;
}
h2, h3, h4, p  {
		text-align: center;
		margin: 0px;
		padding: .1em;
}
main div {
			background-color: #ffebcd;
			display: block;
}
#bread {
		top: 20px;
		left: 50px;
		float: left;
		position: absolute;
		height: 200px; width: 300px;
		border-radius:50%;
}
ul {
		text-align: center;
		list-style-type: none;
}
.tagline {
		text-align: center;
		font-style: italic;
		font-weight: bolder;
		border-bottom: 10px double #65000b;
		font-size: 35px;
		font-family: 'Dancing Script', cursive, sans-serif;
}
footer div{
		text-align: center;
		font-size: 20px;
}
a {
		color: #65000b;
}
a:hover {
		color: #FFEFD5;
}
header a{
		text-decoration: none;
}
footer a{
		color: #65000b;
		text-decoration: none;
		font-size: 20px;
}
footer, footer	p{
		font-style: italic;
		text-align: center;
}
nav {
		text-align: center;
		font-size: 25px;
}
main p {
		text-align: center;
}
.blocking {
		border-bottom: 10px double #65000b;
		padding-bottom: 0px;
}
.brandtoc {
		text-align: center;
		list-style-type: none;
		display: block;
}
.buttons {
		 border: double #65000b;
		 color: #65000b;
		 padding: 5px 24px;
		 text-align: center;
		 text-decoration: none;
		 display: inline-block;
		 font-size: 15px;
		 margin: 4px 4px;
		 cursor: pointer;
		 font-style: normal;
		 font-family: 'El Messiri', sans-serif;
		 width: 55px;
}
header, nav, main, footer {display: block;}
